*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body
{
     background: #effet;
}
.profile-img
{
     width: 40%;
     float: right,
}
.profile-img
{
    width: 100%;
    height: 100%;
}  
















